<h2> SHOUTS </h2>
<%= render "error_messages", target: @shout %>
<%= form_for @shout do |form| %>
  <%= form.label "SHOUT!" %>
  <%= form.text_field :body %>
  <%= form.submit "SHOUT!" %>
<% end %>
<h5>Followed Users</h5>
<div>
  <ul>
    <%= render @users_i_follow %>
  </ul>
</div>
<h5> Unfollowed Users </h5>
<div>
  <ul>
    <%= render @users_i_do_not_follow %>
  </ul>
</div>
<h5>Your feed</h5>
<ul>
  <% @shouts.each do |shout| %>
    <li><strong><%= shout.user.email %></strong> - <%= shout.body %></li>
  <% end %>
</ul>
