<h2> SHOUTS </h2>
<%= render "error_messages", target: @shout %>
<%= form_for @shout do |form| %>
  <%= form.label "SHOUT!" %>
  <%= form.text_field :body %>
  <%= form.submit "SHOUT!" %>
<% end %>
<h5>Your feed</h5>
<div id="feed">
<ul>
  <%= render @shouts %>
</ul>
</div>
